h1 {
	font-family: 'Lobster', cursive;
}
p {
	color: green;
}

.background {
	background-image: url('images/indexbg.jpg');
	background-repeat:no-repeat;
	background-color: white;
	background-position: center center;
	opacity: 0.3
}
