@font-face {
	font-family: EmblemaOne;
	src: url(https://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff);
}
		

h1 {
	font-family: EmblemaOne;
	color: orange;
}

h2 {
	font-family: fantasy;
	color: green;
}

p {
	font-family: cursive;
	color: red;
}